[metadata]
name = flaskr
version = 2.0.0
author = Jay Bhatt
description = Heavily-modified official Flask tutorial with upvoting functionality
long_description = file: README.md
long_description_content_type = text/markdown
keywords = flask, upvote, blog
url = https://github.com/JayBhatt2021/improved-flask-tutorial-app

[options]
packages = find:
include_package_data = true
install_requires =
    Flask

[options.extras_require]
test =
    pytest

[tool:pytest]
testpaths = tests

[coverage:run]
branch = True
source =
    flaskr
