/**
 * index.css
 *
 * This file contains all CSS styles for this project.
 */

/**
 * [element] Styles
 */
html {
    background: #eee;
    font-family: sans-serif;
    padding: 1rem;
}

body {
    background: white;
    margin: 0 auto;
    max-width: 1000px;
}

h1, h2, h3, h4, h5, h6 {
    color: #377ba8;
    font-family: serif;
    margin: 1rem 0;
}

a {
    color: #377ba8;
}

hr {
    border: none;
    border-bottom: 1px solid lightgray;
}

nav {
    background: lightgray;
    display: flex;
    padding: 0 0.5rem;
    align-items: center;
}

button {
    border-color: lightgray;
    display: flex;
    justify-content: center;
    height: 1.5rem;
    margin: 1rem 0 0 0.5rem;
    align-items: center;
}

input.danger {
    color: #cc2f2e;
}

input[type=submit] {
    min-width: 10em;
    align-self: start;
}

/**
 * [element element] Styles
 */
nav h1 {
    flex: auto;
    margin: 0;
}

nav h1 a {
    padding: 0.25rem 0.5rem;
    text-decoration: none;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li a, nav ul li span, header .action {
    display: block;
    padding: 0.5rem;
}

/**
 * [.class] Styles
 */
.content {
    padding: 0 1rem 1rem;
}

.content:last-child {
    margin-bottom: 0;
}

.flash {
    background: #cae6f6;
    border: 1px solid #377ba8;
    margin: 1em 0;
    padding: 1em;
}

.button-text {
    margin-left: 0.5rem;
}

.post-first-line {
    display: flex;
}

/**
 * [.class > element] Styles
 */
.content > header {
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: flex-end;
}

.content > header h1 {
    flex: auto;
    margin: 1rem 0 0.25rem 0;
}

.post > header {
    display: flex;
    font-size: 0.85em;
    align-items: flex-end;
}

.post > header > div:first-of-type {
    flex: auto;
}

.post > header h1 {
    font-size: 1.5em;
    margin-bottom: 0.25em;
}

/**
 * [.class .class] Styles
 */
.post .about {
    color: slategray;
    font-style: italic;
}

.post .body {
    white-space: pre-line;
}

/**
 * [.class element] Styles
 */
.content form {
    display: flex;
    flex-direction: column;
    margin: 1em 0.25em;
}

.content label {
    color: #377ba8;
    font-weight: bold;
    letter-spacing: 0.03em;
    margin-bottom: 0.3em;
}

.content input, .content textarea {
    margin-bottom: 1em;
}

.content textarea {
    min-height: 15em;
    resize: vertical;
}
