{% macro upvote_button(post_id, upvotes=0, is_upvoted_by_user=false) %}
    <form method="post" onsubmit="pressUpvoteButton({{ post_id }})">
        {% if is_upvoted_by_user %}
            <button id="{{ post_id }}"
                    type="submit"
                    style="background-color: lightgreen">
                <img src="{{ url_for('static', filename='img/upvote.png') }}"
                     alt="upvote button"
                     height="16px"
                     width="16px"/>
                <span class="button-text" id="span-{{ post_id }}">{{ upvotes }} Likes</span>
            </button>
        {% else %}
            <button id="{{ post_id }}" type="submit" style="background-color: white;">
                <img src="{{ url_for('static', filename='img/upvote.png') }}"
                     alt="upvote button"
                     height="16px"
                     width="16px"/>
                <span class="button-text" id="span-{{ post_id }}">{{ upvotes }} Likes</span>
            </button>
        {% endif %}
    </form>
{% endmacro %}
{% macro disabled_upvote_button(post_id, upvotes=0) %}
    <button id="disabled-{{ post_id }}" disabled>
        <img src="{{ url_for('static', filename='img/upvote.png') }}"
             alt="upvote button"
             height="16px"
             width="16px"/>
        <span class="button-text" id="disabled-span-{{ post_id }}">{{ upvotes }} Likes</span>
    </button>
{% endmacro %}
